
build\.xml

build/web/accountDataHeaderView\.zul

build/web/addCustomer\.zul

build/web/addProduct\.zul

build/web/addProvider\.zul

build/web/admin\.zul

build/web/adminAccount\.zul

build/web/adminCommission\.zul

build/web/adminCommissionByProduct\.zul

build/web/adminCountry\.zul

build/web/adminDocumentsPersonType\.zul

build/web/adminEnterprise\.zul

build/web/adminExchangeRate\.zul

build/web/adminFooter\.zul

build/web/adminHeader\.zul

build/web/adminHeaderMenu\.zul

build/web/adminMainMenu\.zul

build/web/adminProduct\.zul

build/web/adminProfile\.zul

build/web/adminSettings\.zul

build/web/adminSpecificsSettings\.zul

build/web/adminTransactions\.zul

build/web/adminUser\.zul

build/web/check\.zul

build/web/css/general\.css

build/web/emailTesting\.zul

build/web/error\.zul

build/web/footer\.zul

build/web/forceAdmin\.zul

build/web/header\.zul

build/web/home-admin\.zul

build/web/images/bckg\.jpg

build/web/images/favicon\.ico

build/web/images/icon_envelope\.png

build/web/images/icon-add\.png

build/web/images/icon-add1\.png

build/web/images/icon-alodiga-1\.png

build/web/images/icon-alopoints\.png

build/web/images/icon-bank\.png

build/web/images/icon-box\.png

build/web/images/icon-bug\.png

build/web/images/icon-calendar\.png

build/web/images/icon-cancel\.png

build/web/images/icon-chart\.png

build/web/images/icon-chat\.png

build/web/images/icon-check\.png

build/web/images/icon-clock\.png

build/web/images/icon-controller\.png

build/web/images/icon-credit-card\.png

build/web/images/icon-disable\.png

build/web/images/icon-dolar\.png

build/web/images/icon-download\.png

build/web/images/icon-drop\.png

build/web/images/icon-edit\.png

build/web/images/icon-editaccount\.png

build/web/images/icon-email\.png

build/web/images/icon-enable\.png

build/web/images/icon-english\.png

build/web/images/icon-excel\.gif

build/web/images/icon-eye\.png

build/web/images/icon-facebook\.png

build/web/images/icon-filter\.png

build/web/images/icon-flag\.png

build/web/images/icon-googlemaps\.png

build/web/images/icon-gplus\.png

build/web/images/icon-group\.png

build/web/images/icon-home\.png

build/web/images/icon-house_1\.png

build/web/images/icon-house\.png

build/web/images/icon-in\.png

build/web/images/icon-info\.png

build/web/images/icon-invoice\.png

build/web/images/icon-iphone\.png

build/web/images/icon-iphone1\.png

build/web/images/icon-key\.png

build/web/images/icon-linkedin\.png

build/web/images/icon-map-marker\.png

build/web/images/icon-mc\.png

build/web/images/icon-notification\.png

build/web/images/icon-paper-click\.png

build/web/images/icon-pause\.png

build/web/images/icon-phone\.png

build/web/images/icon-play\.png

build/web/images/icon-power\.png

build/web/images/icon-price\.png

build/web/images/icon-printer\.png

build/web/images/icon-redo-small\.png

build/web/images/icon-redo\.png

build/web/images/icon-remove\.png

build/web/images/icon-report\.png

build/web/images/icon-row\.png

build/web/images/icon-row1\.png

build/web/images/icon-row2\.png

build/web/images/icon-save\.png

build/web/images/icon-send-draft\.png

build/web/images/icon-send-draft2\.png

build/web/images/icon-send\.png

build/web/images/icon-shopping-cart\.png

build/web/images/icon-shopping\.png

build/web/images/icon-show\.png

build/web/images/icon-shuffle\.png

build/web/images/icon-solicitude-close\.png

build/web/images/icon-solicitude\.png

build/web/images/icon-spanish\.png

build/web/images/icon-suitcase\.png

build/web/images/icon-target\.png

build/web/images/icon-terms\.png

build/web/images/icon-tree\.png

build/web/images/icon-twitter\.png

build/web/images/icon-user\.png

build/web/images/icon-veri\.png

build/web/images/icon-visa\.png

build/web/images/icon-warning\.png

build/web/images/icon-youtube\.png

build/web/images/img-alodiga-logo\.png

build/web/images/img-header-logo\.gif

build/web/images/infograph1\.jpg

build/web/images/logo_header\.png

build/web/images/logo_turbines\.png

build/web/images/Page-General-error\.png

build/web/images/shopping-cart\.png

build/web/images/slidebox_next\.png

build/web/images/slidebox_playNext\.png

build/web/images/slidebox_previous_hover\.png

build/web/images/slidebox_previous\.png

build/web/images/slidebox_thumb\.png

build/web/images/slidebox_timeOut\.png

build/web/images/topbarbg\.jpg

build/web/listAudit\.zul

build/web/listAuditActions\.zul

build/web/listCommission\.zul

build/web/listCommissionByProduct\.zul

build/web/listCountries\.zul

build/web/listCustomers\.zul

build/web/listDocumentsPersonType\.zul

build/web/listExchangeRate\.zul

build/web/listProductHasBank\.zul

build/web/listProducts\.zul

build/web/listProfiles\.zul

build/web/listProviders\.zul

build/web/listSpecificsSetting\.zul

build/web/listTransactions\.zul

build/web/listUsers\.zul

build/web/loggedAccountView\.zul

build/web/menuOptions\.zul

build/web/META-INF/MANIFEST\.MF

build/web/myAccount\.zul

build/web/TabProduct\.zul

build/web/timeout\.zul

build/web/userPasswordRecovery\.zul

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/AddButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/AddDescendantButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ChangeStatusButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/CustomListCell\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/DeleteButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/DetailsButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/DistributionCombobox\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/DistributionComboitem\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/DownloadButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/DownloadButton\$1\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/EditButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/InvoiceButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/KeyButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellAddButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellAddDescendantButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellDeleteButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellDetailsButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellDownloadButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellEditButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellImage\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellInvoiceButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellRemoveButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ListcellViewButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/paymentButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/RemoveButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ShowAdminViewListener\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/components/ViewButton\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AccountMainMenuController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AccountMainMenuController\$1\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminBankController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminCommissionController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminCountryController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminCurrencyController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminDocumentsPersonTypeController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminExchangeRateController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminHeaderMenuController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminProfileController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminSettingsController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminSpecificsSettingsController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/AdminUserController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/CalendarT\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ErrorController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/IndexAdminController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListAuditActionsController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListAuditController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListBankController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListCommissionController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListCountriesController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListCurrencyController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListDocumentsPersonTypeController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListEnterprisesController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListEnterprisesController\$1\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListExchangeRateController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListProfilesController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListProfilesController\$1\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListProfilesController\$2\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListSettingController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListTransactionsController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListUsersController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ListUsersController\$1\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/MenuOptionsController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/ModelData\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/MyAccountController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/controllers/TestMailController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/generic/controllers/GenericAbstractAdminController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/generic/controllers/GenericAbstractController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/generic/controllers/GenericAbstractListController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/generic/controllers/GenericAdminController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/generic/controllers/GenericListController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/generic/controllers/GenericSPController\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/security/IndexAdminRedirectInit\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/security/IndexRedirectInit\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/security/InitiatorLoggedAccount\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/security/InitiatorLoggedUser\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/security/Snippet\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/test/Month\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/test/Quarter\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/test/SpreadsheetData\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/test/Year\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/utils/AccessControl\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/utils/GeneralUtils\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/utils/GsonDateFormatter\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/utils/PDFUtil\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/utils/Utils\.class

build/web/WEB-INF/classes/com/alodiga/wallet/admin/web/utils/WebConstants\.class

build/web/WEB-INF/classes/config\.properties

build/web/WEB-INF/glassfish-web\.xml

build/web/WEB-INF/i3-label_es\.properties

build/web/WEB-INF/lib/AlodigaWalletCommons\.jar

build/web/WEB-INF/lib/antlr-2\.7\.6\.jar

build/web/WEB-INF/lib/aopalliance-1\.0\.jar

build/web/WEB-INF/lib/asm-3\.1\.jar

build/web/WEB-INF/lib/asm-attrs\.jar

build/web/WEB-INF/lib/breeze\.jar

build/web/WEB-INF/lib/bsh\.jar

build/web/WEB-INF/lib/BusinessPortalWSClient\.jar

build/web/WEB-INF/lib/ckez\.jar

build/web/WEB-INF/lib/commons-beanutils-1\.7\.0\.jar

build/web/WEB-INF/lib/commons-chain-1\.2\.jar

build/web/WEB-INF/lib/commons-codec-1\.3\.jar

build/web/WEB-INF/lib/commons-collections-3\.1\.jar

build/web/WEB-INF/lib/commons-collections\.jar

build/web/WEB-INF/lib/commons-digester-1\.8\.jar

build/web/WEB-INF/lib/commons-fileupload-1\.2\.2\.jar

build/web/WEB-INF/lib/commons-fileupload\.jar

build/web/WEB-INF/lib/commons-io\.jar

build/web/WEB-INF/lib/commons-logging-api-1\.1\.jar

build/web/WEB-INF/lib/commons-logging\.jar

build/web/WEB-INF/lib/commons-validator-1\.3\.1\.jar

build/web/WEB-INF/lib/fckez\.jar

build/web/WEB-INF/lib/Filters\.jar

build/web/WEB-INF/lib/gmapsz\.jar

build/web/WEB-INF/lib/groovy\.jar

build/web/WEB-INF/lib/gson-2\.8\.6\.jar

build/web/WEB-INF/lib/itextpdf-5\.2\.1\.jar

build/web/WEB-INF/lib/jasperreports\.jar

build/web/WEB-INF/lib/java-json\.jar

build/web/WEB-INF/lib/javax\.json-api-1\.0\.jar

build/web/WEB-INF/lib/jcommon\.jar

build/web/WEB-INF/lib/jfreechart\.jar

build/web/WEB-INF/lib/jruby\.jar

build/web/WEB-INF/lib/js\.jar

build/web/WEB-INF/lib/junit\.jar

build/web/WEB-INF/lib/jxl\.jar

build/web/WEB-INF/lib/KDDIIntegrationTopUp\.jar

build/web/WEB-INF/lib/KDDIIntegrationTopUpCommons\.jar

build/web/WEB-INF/lib/log4j\.jar

build/web/WEB-INF/lib/mvel\.jar

build/web/WEB-INF/lib/mysql-connector-java-bin\.jar

build/web/WEB-INF/lib/ognl\.jar

build/web/WEB-INF/lib/org\.springframework\.aop-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.asm-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.aspects-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.beans-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.context-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.context\.support-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.core-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.expression-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.instrument-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.instrument\.tomcat-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.jdbc-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.jms-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.orm-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.oxm-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.test-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.transaction-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.web-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.web\.portlet-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.web\.servlet-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/org\.springframework\.web\.struts-3\.0\.3\.RELEASE\.jar

build/web/WEB-INF/lib/poi\.jar

build/web/WEB-INF/lib/sapphire\.jar

build/web/WEB-INF/lib/silvertail\.jar

build/web/WEB-INF/lib/simple-xml-2\.6\.2\.jar

build/web/WEB-INF/lib/stax-1\.2\.0\.jar

build/web/WEB-INF/lib/stax-api-1\.0\.1\.jar

build/web/WEB-INF/lib/timelinez\.jar

build/web/WEB-INF/lib/timeplotz\.jar

build/web/WEB-INF/lib/twilio-java-sdk-3\.4\.6-jar-with-dependencies\.jar

build/web/WEB-INF/lib/twilio-java-sdk-3\.4\.6\.jar

build/web/WEB-INF/lib/xpp3-1\.1\.3_8\.jar

build/web/WEB-INF/lib/zcommon\.jar

build/web/WEB-INF/lib/zcommons-el\.jar

build/web/WEB-INF/lib/zhtml\.jar

build/web/WEB-INF/lib/zk\.jar

build/web/WEB-INF/lib/zkex\.jar

build/web/WEB-INF/lib/zkplus\.jar

build/web/WEB-INF/lib/zml\.jar

build/web/WEB-INF/lib/zul\.jar

build/web/WEB-INF/lib/zuljsp\.jar

build/web/WEB-INF/lib/zweb\.jar

build/web/WEB-INF/sun-web\.xml

build/web/WEB-INF/tld/core\.dsp\.tld

build/web/WEB-INF/web\.xml

build/web/WEB-INF/zk\.xml

dist/AlodigaWalletAdminWeb\.war

nbproject/ant-deploy\.xml

nbproject/build-impl\.xml

nbproject/genfiles\.properties

nbproject/private/private\.properties

nbproject/project\.properties

nbproject/project\.xml
